[submodule "week_1/day5-plotting/pandas-seaborn"]
	path = week_1/day5-plotting/pandas-seaborn
	url = https://github.com/MegatronBultema/pandas-seaborn.git
[submodule "week_1/day2-OOP/OOP"]
	path = week_1/day2-OOP/OOP
	url = https://github.com/MegatronBultema/OOP.git
[submodule "week_1/day3-SQL/sql"]
	path = week_1/day3-SQL/sql
	url = https://github.com/MegatronBultema/sql.git
[submodule "week_1/day4-SQLPython/sql-python"]
	path = week_1/day4-SQLPython/sql-python
	url = https://github.com/MegatronBultema/sql-python.git
[submodule "week_1/day4-SQLPython/pandas"]
	path = week_1/day4-SQLPython/pandas
	url = https://github.com/MegatronBultema/pandas.git
[submodule "week_1/day5-plotting/--name"]
	path = week_1/day5-plotting/--name
	url = https://github.com/MegatronBultema/pandas-seaborn.git
[submodule "week_1/day5-plotting/-f"]
	path = week_1/day5-plotting/-f
	url = https://github.com/MegatronBultema/pandas-seaborn.git
[submodule "week2/assessment-2"]
	path = week2/assessment-2
	url = https://github.com/MegatronBultema/assessment-2.git
[submodule "week2/probability/probability"]
	path = week2/probability/probability
	url = https://github.com/MegatronBultema/probability.git
[submodule "week2/day2_EstimatingDistribution/estimation-sampling"]
	path = week2/day2_EstimatingDistribution/estimation-sampling
	url = https://github.com/MegatronBultema/estimation-sampling.git
[submodule "week2/day3_HypTesting/ab-testing"]
	path = week2/day3_HypTesting/ab-testing
	url = https://github.com/MegatronBultema/ab-testing.git
[submodule "week2/day4_BayesR/power-bayesian"]
	path = week2/day4_BayesR/power-bayesian
	url = https://github.com/zipfian/power-bayesian.git
[submodule "week2/day5/multi-armed-bandit"]
	path = week2/day5/multi-armed-bandit
	url = https://github.com/zipfian/multi-armed-bandit.git
[submodule "week2/day5_Bayes/multi-armed-bandit"]
	path = week2/day5_Bayes/multi-armed-bandit
	url = https://github.com/MegatronBultema/multi-armed-bandit.git
[submodule "week3/day1_linearalg/linear-algebra-eda"]
	path = week3/day1_linearalg/linear-algebra-eda
	url = https://github.com/MegatronBultema/linear-algebra-eda.git
[submodule "week3/day2_linearreg/linear-regression"]
	path = week3/day2_linearreg/linear-regression
	url = https://github.com/MegatronBultema/linear-regression.git
[submodule "week3/day3_crossvalidation/regularized-regression"]
	path = week3/day3_crossvalidation/regularized-regression
	url = https://github.com/MegatronBultema/regularized-regression.git
[submodule "assessment-3"]
	path = assessment-3
	url = https://github.com/MegatronBultema/assessment-3.git
[submodule "week4/gradient_descent/gradient-descent"]
	path = week4/gradient_descent/gradient-descent
	url = https://github.com/MegatronBultema/gradient-descent.git
[submodule "week4/decisiontrees_KNN/non-parametric-learners"]
	path = week4/decisiontrees_KNN/non-parametric-learners
	url = https://github.com/MegatronBultema/non-parametric-learners.git
[submodule "week4/randomforest_bagging/random-forest"]
	path = week4/randomforest_bagging/random-forest
	url = https://github.com/MegatronBultema/random-forest.git
[submodule "week4/SVM/svm"]
	path = week4/SVM/svm
	url = https://github.com/MegatronBultema/svm.git
[submodule "week5/boosting"]
	path = week5/boosting
	url = https://github.com/MegatronBultema/boosting.git
[submodule "assessment-4"]
	path = assessment-4
	url = https://github.com/MegatronBultema/assessment-4.git
[submodule "week5/MongoFolder/web-scraping"]
	path = week5/MongoFolder/web-scraping
	url = https://github.com/MegatronBultema/web-scraping.git
[submodule "week5/NeuralNets!/mlp_cnn_rnn"]
	path = week5/NeuralNets!/mlp_cnn_rnn
	url = https://github.com/MegatronBultema/mlp_cnn_rnn.git
[submodule "week5/NaturalLanguageProcessing/nlp"]
	path = week5/NaturalLanguageProcessing/nlp
	url = https://github.com/MegatronBultema/nlp.git
[submodule "week5/Clustering/clustering"]
	path = week5/Clustering/clustering
	url = https://github.com/MegatronBultema/clustering.git
[submodule "week6/dimension_reduction/dimensionality-reduction"]
	path = week6/dimension_reduction/dimensionality-reduction
	url = https://github.com/MegatronBultema/dimensionality-reduction.git
[submodule "week6/mapreduce/map-reduce"]
	path = week6/mapreduce/map-reduce
	url = https://github.com/MegatronBultema/map-reduce.git
[submodule "week6/graphs"]
	path = week6/graphs
	url = https://github.com/MegatronBultema/graphs.git
[submodule "week6/spark-install"]
	path = week6/spark-install
	url = https://github.com/MegatronBultema/spark-install.git
[submodule "assessment-5"]
	path = assessment-5
	url = https://github.com/MegatronBultema/assessment-5.git
[submodule "aws_scripts"]
	path = aws_scripts
	url = https://github.com/MegatronBultema/aws_scripts.git
[submodule "week8/high-performance-python"]
	path = week8/high-performance-python
	url = https://github.com/MegatronBultema/high-performance-python.git
[submodule "week8/spark-materials/spark"]
	path = week8/spark-materials/spark
	url = https://github.com/MegatronBultema/spark.git
[submodule "week8/spark-aws"]
	path = week8/spark-aws
	url = https://github.com/MegatronBultema/spark-aws.git
