[submodule "week_1/day5-plotting/pandas-seaborn"]
	path = week_1/day5-plotting/pandas-seaborn
	url = https://github.com/MegatronBultema/pandas-seaborn.git
[submodule "week_1/day2-OOP/OOP"]
	path = week_1/day2-OOP/OOP
	url = https://github.com/MegatronBultema/OOP.git
[submodule "week_1/day3-SQL/sql"]
	path = week_1/day3-SQL/sql
	url = https://github.com/MegatronBultema/sql.git
[submodule "week_1/day4-SQLPython/sql-python"]
	path = week_1/day4-SQLPython/sql-python
	url = https://github.com/MegatronBultema/sql-python.git
[submodule "week_1/day4-SQLPython/pandas"]
	path = week_1/day4-SQLPython/pandas
	url = https://github.com/MegatronBultema/pandas.git
[submodule "week_1/day5-plotting/--name"]
	path = week_1/day5-plotting/--name
	url = https://github.com/MegatronBultema/pandas-seaborn.git
[submodule "week_1/day5-plotting/-f"]
	path = week_1/day5-plotting/-f
	url = https://github.com/MegatronBultema/pandas-seaborn.git
[submodule "week2/assessment-2"]
	path = week2/assessment-2
	url = https://github.com/MegatronBultema/assessment-2.git
[submodule "week2/probability/probability"]
	path = week2/probability/probability
	url = https://github.com/MegatronBultema/probability.git
[submodule "week2/day2_EstimatingDistribution/estimation-sampling"]
	path = week2/day2_EstimatingDistribution/estimation-sampling
	url = https://github.com/MegatronBultema/estimation-sampling.git
[submodule "week2/day3_HypTesting/ab-testing"]
	path = week2/day3_HypTesting/ab-testing
	url = https://github.com/MegatronBultema/ab-testing.git
[submodule "week2/day4_BayesR/power-bayesian"]
	path = week2/day4_BayesR/power-bayesian
	url = https://github.com/zipfian/power-bayesian.git
